<!--<input ng-model="searchText.name">

<!--<li ng-repeat="recipe in recipes | filter:searchText></li>-->

<div style="col-sm-6 col-md-4">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto; height:100%; width:100%;" />
    </slide>
</carousel>
</div>



<div class="col-sm-6 col-md-4" style="height:50%; width:50%;" ng-repeat="recipe in recipes">
    <div class="recipe-card transparent">
        <h3><a href="#/recipes/{{ recipe.id }}">{{ recipe.name }}</a></h3>
        <img width="200"
             class="img-responsive recipe-card-image"
             ng-src="{{ recipe.photo }}">
        <p>{{ recipe.description }}</p>
     </div>
</div>



