<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

    <input ng-model="recipe.name">

    <div class="form-group">
        <label>Recipe Name:</label>
        <input class="form-control" ng-model="recipe.name">
    </div>

    <div class="form-group">
        <label>Recipe Directions:</label>
        <textarea class="form-control" ng-model="recipe.directions"></textarea>
    </div>

    <div class="form-group">
        <label>Recipe Description:</label>
        <textarea class="form-control" ng-model="recipe.description"></textarea>
    </div>


    <div class="form-group">
        <label>Ingredient</label>
        <input class="form-control" ng-model="ingredientName">
    </div>

    <button ng-click="addIngredientToRecipe(ingredientName)"
            class="btn btn-xs btn-info">Add Ingredient to Recipe</button>

    <br>
    <ol>
        <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}
            <i ng-click="removeIngredientFromRecipe(ingredient)"
               class="btn btn-xs btn-danger glyphicon glyphicon-remove-sign">
            </i>
        </li>
    </ol>



    <br>
    <button ng-click="addRecipe()"
            class="btn btn-md btn-success">Save Recipe</button>

</div>
